.todoItem {
   display: flex;
   align-items: center;
   justify-content: space-between;
   list-style: none;
   padding: 10px;
   margin: 10px;
   border: 1px solid #ccc;
   font-size: 18px;
   width: 500px;
}

.leftPart {
   display: flex;
   justify-content: center;
   align-items: center;
}

.todoIndex {
   font-weight: bold;
   margin: 0 20px 0 10px;
}

.todoTitle {
   flex-grow: 1;
   margin-right: 10px;
}

.todoInput {
   height: 35px;
   max-width: 300px;
   margin: 0;
   font-size: 1em;
}

.todoCheckbox {
   display: none;
}

.customCheckbox {
   position: relative;
   width: 30px;
   height: 30px;
   margin: 0 15px 0 0;
   cursor: pointer;
   border-radius: 5px;
   background-color: #eee;
   border: 2px solid #ccc;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: background-color 0.3s, border 0.3s;
}

.todoCheckbox:checked+.customCheckbox {
   background-color: #4CAF50;
   border: 2px solid #4CAF50;
   color: #fff;
}

.checkIcon {
   font-size: 18px;
   color: #fff;
}

.todoButtons {
   display: flex;
   align-items: center;
   gap: 5px;
}

.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   width: 35px;
   height: 35px;
   padding: 0;
   font-size: 1.1em;
   cursor: pointer;
}

.delBtn:hover {
   background: rgb(255, 113, 113);
}